section.content > section > article {
    border: 1px solid #b6b6b6;
    margin: 16px 10px 0 0;
    float: left;
    width: 380px;
    height: 418px;
    padding-right: 6px;
}

section.content > section > article > h1,
section.content > section > article > header > h1 {
    margin: 17px 0 16px 19px;
    color: #616161;
    font-family: Oswald, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase;
}

section.content > section > article > header > h1 {
    display: inline-block;
}

section.content > section > article > header > button {
    float: right;
    border: 0;
    margin: 12px 17px;
    width: 123px;
    height: 24px;
    background-color: #f2f2f2;

    color: #616161;
    font-family: Oswald, serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

section.content > section > article > header > button:before {
    content: "+";
    display: block;
    float: left;
    margin-right: 8px;
}

section.content > section > article > ul {
    overflow-y: scroll;
    height: 371px;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

section.content > section > article > ul::-webkit-scrollbar {
    -webkit-appearance: none;
}

section.content > section > article > ul::-webkit-scrollbar:vertical {
    width: 6px;
}

section.content > section > article > ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}

section.content > section > article > ul::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 8px;
}

section.content > section > article > ul > li:first-child {
    position: relative;
}

section.content > section > article > ul > li {
    border-top: 1px solid #e0e0e0;
}

section.content > section > article > ul > li > form {
    padding: 15px 16px 15px 20px;
}

section.content > section > article > ul > li > form > input {
    padding-left: 33px;
    width: 100%;
    height: 25px;
    border: 1px solid #bdbdbd;
}

section.content > section > article > ul > li > form::before {
    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: '\f002';
    color: #b6b6b6;

    font-size: 12px;
    line-height: 12px;

    position: absolute;
    display: block;
    margin: 6px 0 0 10px;
}

section.content > section > article > ul > li > form > input::-webkit-input-placeholder { font-family: "Source Sans Pro"; }
section.content > section > article > ul > li > form > input::-moz-placeholder { font-family: "Source Sans Pro"; }
section.content > section > article > ul > li > form > input:-ms-input-placeholder { font-family: "Source Sans Pro"; }

section.content > section > article > ul > li > h2,
section.content > section > article > ul > li > ul > li > h2 {
    margin: 15px 0 0 19px;
    color: #616161;
    font-family: "Source Sans Pro", serif;
    font-size: 14px;
    font-weight: 600;
}

section.content > section > article > ul > li > ul > li > small,
section.content > section > article > ul > li > small {
    color: #616161;
    font-family: "Source Sans Pro", serif;
    font-size: 14px;
    line-height: 36px;
    margin: 10px 0 12px 19px;
}

section.content > section > article.tree > ul > li:before {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 11px;

    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: "";
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
}

section.content > section > article.tree > ul > li {
    position: relative;
    background-color: #fafafa;
}

section.content > section > article > ul > li > a {
    display: inline-block;
    padding: 10px 0 11px 18px;
    color: #616161;
    font-family: "Source Sans Pro", serif;
    font-size: 12px;
    font-weight: 600;
    /*line-height: 15px;*/
    text-transform: uppercase;
}

section.content > section > article > ul > li > a:before {
    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: "\f077";
    display: inline-block;
    padding-right: 12px;
    color: #616161;
    font-size: 10px;
    font-weight: 400;
}

section.content > section > article > ul > li > a:after {
    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: "";
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase;
    padding-left: 8px;
}

section.content > section > article > ul > li > ul {
    list-style-type: none;
    padding-left: 0;
}

section.content > section > article.tree > ul > li > ul > li {
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
}