/*--bg:#424242;*/

img, form, a, input {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    display: block;
}

body {
    margin: 0;
}

body > header {
    background-color: #3f51b5;
    min-height: 60px;
    vertical-align: middle;
}

.burger-menu-icon {
    float: left;
    padding: 22px 18px;
    background-color: #424242;
}

.logo {
    float: left;
    padding: 13px 26px 10px 17px;
    background-color: #283593;
}

a.user-icon {
    float: right;
}

img.user-icon {
    overflow: hidden;
    background-color: #f8f8f5;
    border-radius: 50%;
    margin: 12px 15px 11px;
}

form.main-search {
    float: right;
    margin: 14px 0;
}

form.main-search > input {
    width: 192px;

}