@import "/styles/top.css";
@import "/styles/nav.css";
@import "/styles/toolbox.css";
@import "/styles/tabs.css";
@import "/styles/content.css";
@import "/styles/template.css";

:root {
    --search-placeholder-color: #5c6bc0;
    /*--search: {*/
        /*font-size: 16px;*/
        /*line-height: 16px;*/
    /*}*/
}

a {
    text-decoration: none;
}

img, form, a, input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

img {
    display: block;
}

body {
    margin: 0;
}