:root {
    --bg1: #424242;
    --search-color: #5c6bc0
}

img, form, a, input {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    display: block;
}

body {
    margin: 0;
}

body > header {
    background-color: #3f51b5;
    min-height: 60px;
    vertical-align: middle;
}

.burger-menu-icon {
    float: left;
    padding: 22px 18px;
    background-color: var(--bg1);
}

.logo {
    float: left;
    padding: 13px 26px 10px 17px;
    background-color: #283593;
}

a.user-icon {
    float: right;
}

img.user-icon {
    overflow: hidden;
    background-color: #f8f8f5;
    border-radius: 50%;
    margin: 12px 15px 11px;
}

form.main-search {
    float: right;
    margin: 14px 0;
}

/* Download font */
@font-face {
    font-family: FontAwesome;

    src: url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.eot?v=4.7.0');

    src: url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;
}

form.main-search::before {
    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: '\f002';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--search-color);

    position: absolute;
    display: block;
    margin: 8px 0 0 19px;
}

form.main-search > input {
    padding-left: 42px;
    font-family: 'Source Sans Pro', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #f8f8f5;

    display: block;
    width: 192px;
    height: 32px;
    border-radius: 16px;
    background-color: #283593;
}
form.main-search > input::-webkit-input-placeholder { color: var(--search-color); }
form.main-search > input::-moz-placeholder { color: var(--search-color); }
form.main-search > input:-ms-input-placeholder { color: var(--search-color); }