@import url('https://fonts.googleapis.com/css?family=Oswald');

nav {
    width: 214px;
    float: left;
    height: 100%;
    background-color: #404040;
    padding-top: 3px;
    position: relative;
}

nav > ul {
    padding-left: 0;
}

nav ul {
    list-style-type: none;
}

/*noinspection CssNoGenericFontName*/
nav > ul > li > a:before {
    /*noinspection CssNoGenericFontName*/
    font-family: FontAwesome;
    content: '\f0e8'; /*sitemap*/
    margin-right: 10px;
    color: #e1e1e1;
    font-weight: normal;
}

nav > ul > li:first-child > a:before {
    content: '\f02e'; /*bookmark*/
    margin-right: 12px;
    margin-left: 2px;
}

nav > ul > li {
    /*height: 14px;*/
    color: #e0e0e0;
    /*noinspection CssNoGenericFontName*/
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    border-bottom: 1px solid #474747;
    line-height: 47px;
}
nav > ul > li > ul { text-transform: none; }

nav > ul > li > a {
    padding-left: 16px;
    color: #e1e1e1;
}

nav > ul > li.active {
    background-color: #212121;
}

nav > ul li > a {
    display: block;
}

nav > ul > li.active a {
    color: #656565;
}

li.active.page > a {
    color: #fff;
}

nav ul ul ul ul {
    -webkit-padding-start: 19px;
}

nav > ul > li.active > a:after,
nav > ul > li.active > ul > li > ul > li.active > a:after {
    content: "\f077";
    color: #fff;
    font-size: x-small;
    font-family: FontAwesome, serif;
    position: relative;
    top: -1px;
    right: 19px;
    float: right;
}

li.page > a:after {
    font-size: x-small;
    font-family: FontAwesome;
    position: absolute;
    left: 183px;
}

li.page.circle > a:after { content: "\f1db"; }
li.page.key > a:after { content: "\f084"; }
li.page.ok > a:after { content: "\f00c"; }
li.page.x > a:after { content: "\f00d"; }
li.page.box > a:after { content: "\f187"; }